/*
OUTSIDE RESOURCES USED:
CSS nav bar help: https://stackoverflow.com/questions/5995405/how-to-center-a-navigation-bar-with-css-or-html#:~:text=Make%20your%20div%20container%20the,that%20should%20center%20it.
flex css: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

.bg {
  background-color: black;
}

/* ------------- NAV BAR STYLING --------------- */
.main_nav_bar {
  text-align: center; /* center the links in nav bar */
  border: 2px solid white;
  margin: 0 auto;
}

.main_nav_bar ul{
  background-color: black;
  margin: 0;
  padding: 0;
}

.main_nav_bar li {
  display: inline-block;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
}

.main_nav_bar a {
  color: white;
  text-decoration: none; /* get rid of underline from link */
}

/* .main_nav_bar a:checked {
  text-decoration: underline;
} */

/* ---------------- BACK TO MAIN PAGE BUTTON ---------------- */
.go-back {
  text-align: right;
  padding: 5px;
}

.go-back a {
  color: white;
}

/* ------------------ MAIN PAGE TEXT STYLING -------------- */
.opening-text {
  text-align: center;
  margin-top: 20px;
  border: 2px solid white;
}

h1 {
  font-size: 25px;
  color: white;
}

h2 {
  padding-left: 5px;
  color: white;
  text-align: center;
}

h4 {
  color: white;
  text-align: center;
}

/* -------------- TEXT PAGE STYLING ------------------ */
.form-div {
  width: 20%;
  display: block;
  float: center;
  margin-left: auto;
  margin-right: auto;
}

.text-form {
  font-size: 20px;
  padding: 10px;
  color: white;
  border: 2px solid white;
}

.typed-section label {
  width: 30%;
}

.typed-section input[type=text] {
  float: right;
  width: 70%;
}

/* ------------------ IMAGE STYLING ----------------- */
.image-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

.image-container img {
  padding: 20px;
}

/* ------------------- VIDEO STYLING --------------------- */
.video-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.video-container video {
  padding: 20px;
}

/* ------------------- TABLE STYLING --------------------- */
table, th, td {
  border: 1px solid white;
  font-size: 20px;
}

th, td {
  padding: 10px;
}

tr {
  text-align: left;
}

.table-div {
  width: 75%;
  display: block;
  float: center;
  margin-left: auto;
  margin-right: auto;
}

.table-div a {
  color: white;
}

.custom-table {
  color: white;
  table-layout: fixed;
  border-collapse: collapse;
}
